@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Kanit", serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: auto;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}


.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    gap: 8px;
    align-items: center
}

header .logo .logo-name {
    font-size: 26px;
    font-weight: 500;
}

header .logo img {
    width: 50px;
    height: 50px;
}

.header-right {
    display: flex;
    gap: 6px;
}

.header-right button {
    font-size: 28px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline: none;
}

.header-right .header-cart-btn {
    font-size: 23px;
}

.banner1 img {
    width: 100%;
}

.banner1 .banner1-overlay {
    position: absolute;
    width: 100%;
    aspect-ratio: 4000/2048;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(166, 20, 20, 0) 100%);
    top: 110px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.banner-header {
    font-size: 22px;
    font-weight: 600;
}

.banner1-overlay button {
    padding: 6px 12px;
    background-color: #ffffff00;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 8px;
    font-size: 20px;
}

.categories {
    display: flex;
    flex-direction: column;
}

.section-header {
    font-size: 20px;
    font-weight: 500;
    padding: 4px 12px;
}

.category-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px 12px;
}

.category-item {
    flex-basis: 150px;
    flex-grow: 1;
    background-color: greenyellow;
    padding: 10px;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-size: cover;
    border-radius: 8px;
}

.category-item:nth-child(1) {
    background-image: url(assets/img-4000x2048.png);
}

.category-item:nth-child(2) {
    background-image: url(assets/phone-categories.avif);
    background-size: 100%;
}

.category-item:nth-child(3) {
    background-image: url(assets/pcacess.jpg);
}

.category-item:nth-child(4) {
    background-image: url(assets/phoneaccess.jpg);
}

.category-item p {
    color: #fff;
    background-color: #000000a2;
    box-shadow: 0 0 20px #000000;
    border-radius: 10px;
    padding: 10px;
}

.sell-item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 8px;
}

.sell-item {
    width: 45%;
    aspect-ratio: 1/1;
    flex-grow: 100px;
    flex-basis: 1;
    align-self: flex-start;
    color: #000;
    text-decoration: none;
}

.sell-item img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #ccc;
    border-radius: 8px;
}

.sell-item .price {
    font-size: 22px;
    font-weight: 600;
}

.info-1-line {
    display: flex;
    gap: 10px;
}

.reviews {
    display: flex;
    gap: 4px;
    align-items: center;
}

.reviews .fa-star {
    color: #ffbb00;
}

.reviews-count {
    color: #8d8d8d;
}

.product-name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.brand-name {
    color: #4e4e4e;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    max-width: 500px;
    height: 100%;
    overflow: hidden;
    transition: .2s all ease-in-out;
}

.header-menu-btn {
    font-size: 28px;
}

.menu:has(#menu-toggle:checked) {
    width: 100%;
}

.menu-left {
    width: 20%;
    height: 100%;
    z-index: 99;
    display: flex;
    transition: .2s all ease-in-out;
    transition-delay: .2s;
}

.menu:has(#menu-toggle:checked) .menu-left {
    background-color: #000000af;
    backdrop-filter: blur(10px);
}

#menu-toggle {
    display: none;
}

.menu-main {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    overflow: hidden;
    height: 100%;
    background-color: #ffffff;
    color: #212121;
    padding: 18px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.menu-profile {
    display: flex;
    gap: 12px;
    padding: 8px;
    align-items: center;
    width: 100%;
}

.menu-profile-right {
    width: 100%;
}

.menu-profile img {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.menu-profile .user-name-surname {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-id {
    font-size: 14px;
    color: #9c9c9c;
    display: flex;
    gap: 8px;
    align-items: center;
}

.menu-profile-right button {
    border: none;
    background-color: transparent;
    color: #000;
}

.fa-user-pen {
    font-size: 18px;
}

.menu-items {
    list-style: none;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
}

.menu-items li a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 8px 0;
}

.menu-settings {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    justify-self: flex-end;
    padding: 10px 0;
}

.header-search-box {
    width: 100%;
    height: 32px;
    display: flex;
}

.header-search-box form {
    width: 100%;
    height: 32px;
    display: flex;
}

.header-search {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    border-right: none;
    padding: 0 10px;
    outline: none;
}

.header-search-box button {
    background-color: transparent;
    outline: none;
}

.h-search-clear {
    width: auto;
    height: 100%;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.h-search-search {
    width: auto;
    height: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}